.cardSection {
  padding: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 480px) {
  .cardSection {
    padding: 1rem;
    gap: 1rem;
  }
  .cardSection > div:nth-child(6) {
    display: none;
    position: absolute;
    transform: translateX(500px);
  }
}
